SNOWFLAKE_ACCOUNT=ewefaqm-lr31508
SNOWFLAKE_USER=ADITYA253032
SNOWFLAKE_ROLE=TRANSFORMER
SNOWFLAKE_WAREHOUSE=DBT_WH
SNOWFLAKE_DATABASE=ANALYTICS
SNOWFLAKE_SCHEMA=STAGING
SNOWFLAKE_PRIVATE_KEY_PATH=/Users/aditya954/.dbt/snowflake_keys/rsa_key.p8
SNOWFLAKE_PRIVATE_KEY_PASSPHRASE=replace_with_your_passphrase
DBT_PROFILES_DIR=/Users/aditya954/dbt_project
